body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
#nav_bar {
    display: inline;
    float: right;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    #nav_bar li {
        float: right;
        padding: 8px;
      }

      #nav_bar li a {
        display: block;
        padding: 8px;
        background-color: #dfe0e6;
        text-decoration: none;
      }
      #nav_bar li a:hover {

            background-color: #5d73d4;
        
      }


#google_logo {
   
    margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#form {
    margin: 0;
  position: absolute;
  top: 58%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#form-search {
    
    border: 1px solid grey;
    border-radius: 20px;
    height: 35px;
    width: 500px;
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
}
#google_search {

  margin: 0;
  position: absolute;
  top: 25%;
  left: 25%;
}
#im_feeling_lucky {
    margin: 0;
    position: absolute;
    top: 25%;
    left: 47%;
}
#footer {
    background: #f2f2f2;
}

#footer-left ul {
    color: #5f6368;
  
    padding: 12px 11.3px;
    font-size:14px;
    border-top: 1px solid #ddd;
	
    }
    #footer-left a{
       
        margin: 5px;
        position: absolute;
        top: 170%;
        left: -100%;
    }
    #footer-left li {
       display:inline;
        padding-left: 18.7px;
        
        
    }
    

      #footer-right {
        display: inline;
        float: right;
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
        #footer-right li {
            float: right;
            padding: 8px;
          }
    
          #footer-right li a {
            display: block;
            padding: 8px;
            background-color: #dfe0e6;
            text-decoration: none;
          }
          #footer-right li a:hover {
    
                background-color: #5d73d4;
            
          }      